*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Segoe UI,Arial,sans-serif;
    background:#f4f4f4;
    line-height:1.6;
}

nav{
    background:#333;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:gold;
}

header{
    background:#333;
    color:white;
    text-align:center;
    padding:70px 20px;
}

header h1{
    font-size:40px;
    margin-bottom:15px;
}

header p{
    font-size:22px;
}

section{
    width:80%;
    max-width:900px;
    margin:40px auto;
}

.project{
    background:white;
    padding:25px;
    margin:20px 0;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
    transition:.3s;
}

.project:hover{
    transform:translateY(-5px);
}

.button{
    display:inline-block;
    background:#007bff;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    border-radius:8px;
    font-size:18px;
}

.button:hover{
    background:#0056b3;
}

.avatar{
    display:block;
    width:220px;
    height:220px;
    object-fit:cover;
    margin:30px auto;
    border-radius:50%;
    border:5px solid #333;
}
